<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.healthcoco.healthcocopad"
    android:versionCode="10"
    android:versionName="@string/app_version_name">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <application
        android:name="com.healthcoco.healthcocoplus.HealthCocoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="@string/database_name" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="false" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.healthcoco.healthcocopad.server" />

        <activity
            android:name="com.healthcoco.healthcocoplus.activities.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.healthcoco.healthcocoplus.activities.CommonActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fdd74ef6176572e8dd28bb20d49264b353c50213" />

        <activity
            android:name="com.healthcoco.healthcocoplus.activities.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name="com.healthcoco.healthcocoplus.activities.InitialSyncActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
    </application>

</manifest>